<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Products : Manager</title>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/popper.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="/fragments/header :: header">Header</div>
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Products Manager</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <form th:action="@{/admin/products/productConfiguration}" method="GET" role="form">
                            <button type="submit" class="btn btn-sm btn-primary btn-create">Product creëren</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                    <tr>
                        <th align="center">#</th>
                        <th>Naam</th>
                        <th>Prijs</th>
                        <th>In opslag</th>
                        <th>Kleur</th>
                        <th>Beschrijving</th>
                        <th align="center"><em class="fa fa-cog"></em> Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${products == null}">
                        <td colspan="3">No products</td>
                    </tr>
                    <tr th:each="product : ${products}">
                        <td align="center" th:text="${product.productId}"></td>
                        <td th:text="${product.getProductName()}"><a></a></td>
                        <td align="center">€ <span th:text="${#numbers.formatDecimal(product.getPrice(), 0, 2)}"></span></td>
                        <td align="center" th:text="${product.getStock()}">x</td>
                        <td align="center" th:text="${product.getColour()}"></td>
                        <td th:text="${product.description}"></td>
                        <td align="center"><a href="/admin/products/productConfiguration" th:href="@{/admin/products/productUpdate/__${product.productId}__}" class="btn btn-default"><em class="fa fa-pencil"></em></a></td>
                        <td align="center"><a href="/admin/products/list" th:href="@{/admin/products/productRemoval/__${product.productId}__}" onclick="return confirm('Wilt u doorgaan met het verwijderen van dit product?')" class="btn btn-danger"><em class="fa fa-trash"></em></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/footer :: footer">Header</div>
</body>
</html>